body, html {
    width: 100%;
    height: 100%;
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* .container-fluid {
    height: 100%;
} */

.navbar-brand, img {
    height: 2.5rem;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0;
    text-align: center;
    /* background-color: rgba(230, 230, 230, 0.705); */
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
}

.navbar-nav {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.35); */
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin: 0 5rem 0 0;
    width: 100%;
    padding: 1rem;
    font-family: 'space mono', monospace;
    font-weight: 100;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(208, 178, 116, 0.7);
    color: #ffffff;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
    transition: ease 0.s;
}

.navbar-nav .nav-link.active {
    color: #ffffff;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
}

.navbar-nav .nav-link.active:hover {
    background-color: #e7e7e796;
    color: #ffffff;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar-brand {
    padding: 0 1rem;
}

.navbar-toggler {
    margin: 0.5rem 1rem 0.5rem 0;
}

/* Base styles for the dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Background color with opacity */
    display: none;
    /* Initially hidden */
}

.dropdown-menu.show {
    display: block;
    /* Show dropdown when active */
}

.dropdown-menu .nav-link {
    color: #fff;
    /* White text color */
    text-align: center;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.dropdown-menu .nav-item {
    margin: 1rem 0;
}

.navbar-toggler {
    position: relative;
    z-index: 1050;
    /* Ensure the toggler is above the dropdown */
}

.dropdown-menu.show .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Slightly different background on hover */
}

/* Mobile-specific styles */
@media (max-width: 991.98px) {
    .dropdown-blur {
        backdrop-filter: blur(10px);
        background-color: rgba(230, 230, 230, 0.15);
    }

    .dropdown-blur .nav-link {
        color: #ffffff;
        padding: 1.5rem 0;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: 1px solid rgba(250, 250, 250, 0.15);
    }
}

.mainSlide {
    background: url('john-towner-JgOeRuGD_Y4-unsplash.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin: 20px auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    max-width: 65px;
    opacity: 1;
}

h1 {
    color: rgb(228, 228, 228);
    font-size: 3rem;
    text-transform: uppercase;
}

.bannerButton {
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid #d0b274;
    color: #d0b274;
    font-family: 'space mono', monospace;
}


.buffer {
    height: 3rem;
}

.mountaineers {
    color: #d0b274;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    text-transform: none;
    font-weight: 100;
    letter-spacing: -0.2rem;
}

#logo {
    height: 60px;
    margin: 0 0 30px 0;
}

.content {
    animation-duration: 3s;
}
